@charset "UTF-8";
/*放置变量*/
/*重置样式*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

ul, li, a {
  list-style: none;
  text-decoration: none; }

h1, h2, h3 {
  margin: 0;
  font-weight: normal; }

.hide {
  display: none; }

.none {
  display: none !important; }

.ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis; }

#header {
  height: 44px;
  background: #31c27c;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  #header h1 {
    display: none; }
  #header #logo {
    width: 90px;
    height: 25px;
    margin-left: 10px; }
  #header .head-btn {
    display: inline-block;
    height: 28px;
    margin-right: 10px;
    padding: 0 12px;
    line-height: 28px;
    border-radius: 99px;
    background: #149c5a;
    font-size: 14px;
    color: #fff; }

.topbar {
  background: #fff; }
  .topbar .tabs-list {
    display: flex; }
    .topbar .tabs-list .tabs-item {
      flex: 1;
      text-align: center;
      padding: 10px; }
      .topbar .tabs-list .tabs-item a {
        color: rgba(0, 0, 0, 0.6); }
      .topbar .tabs-list .tabs-item.active {
        border-bottom: 2px solid #31c27c; }
        .topbar .tabs-list .tabs-item.active a {
          color: #31c27c; }

.tab-contents {
  height: 100%; }

.qq-slider {
  width: 100%;
  overflow: hidden; }
  .qq-slider .slider-wrap {
    display: flex; }
  .qq-slider .slider-items {
    width: 100%; }
    .qq-slider .slider-items > a {
      display: block; }
      .qq-slider .slider-items > a img {
        width: 100%;
        display: block; }

.radio, .hot-list {
  margin: 14px 10px 10px; }
  .radio .title, .hot-list .title {
    color: #000;
    font-size: 16px;
    margin-bottom: 11px; }
  .radio .list, .hot-list .list {
    display: flex;
    flex-wrap: wrap; }
    .radio .list .list-item, .hot-list .list .list-item {
      position: relative;
      flex: 1;
      flex-basis: 40%;
      width: 0;
      margin: 4px 3px;
      background: #fff; }
      .radio .list .list-item img, .hot-list .list .list-item img {
        width: 100%;
        margin-bottom: 5px;
        display: block;
        min-height: 150px; }
      .radio .list .list-item .icon, .hot-list .list .list-item .icon {
        display: inline-block;
        background-image: url(/images/list_sprite.png);
        background-repeat: no-repeat;
        background-size: 24px 60px; }
      .radio .list .list-item .listen-count, .hot-list .list .list-item .listen-count {
        position: absolute;
        bottom: 51px;
        left: 5px;
        color: #fff;
        font-size: 12px; }
      .radio .list .list-item .count-icon, .hot-list .list .list-item .count-icon {
        width: 10px;
        height: 10px;
        background-position: 0 -50px; }
      .radio .list .list-item .play-icon, .hot-list .list .list-item .play-icon {
        position: absolute;
        width: 24px;
        height: 24px;
        bottom: 51px;
        right: 5px;
        background-position: 0 0; }
      .radio .list .list-item .song-info, .hot-list .list .list-item .song-info {
        margin: 0 7px 5px;
        height: 36px;
        line-height: 18px; }
        .radio .list .list-item .song-info a, .hot-list .list .list-item .song-info a {
          color: #000; }
        .radio .list .list-item .song-info h3, .hot-list .list .list-item .song-info h3 {
          font-size: 14px;
          font-weight: normal; }
        .radio .list .list-item .song-info p, .hot-list .list .list-item .song-info p {
          font-size: 12px; }

.toplist .top-item {
  display: flex;
  height: 100px;
  margin: 10px;
  background: #fff; }
  .toplist .top-item .top-item-media {
    position: relative; }
    .toplist .top-item .top-item-media img {
      width: 100px;
      height: 100px; }
    .toplist .top-item .top-item-media .listen-count {
      position: absolute;
      bottom: 7px;
      left: 5px;
      color: #fff;
      font-size: 12px; }
      .toplist .top-item .top-item-media .listen-count .count-icon {
        display: inline-block;
        width: 10px;
        height: 10px;
        background-image: url(/images/list_sprite.png);
        background-repeat: no-repeat;
        background-size: 24px 60px;
        background-position: 0 -50px; }
  .toplist .top-item .top-item-info {
    position: relative;
    width: 100%;
    padding: 7px 10px 6px 15px; }
    .toplist .top-item .top-item-info h3 {
      font-size: 16px;
      color: #000;
      font-weight: normal;
      margin-bottom: 7px; }
    .toplist .top-item .top-item-info .top-item-list {
      font-size: 14px; }
      .toplist .top-item .top-item-info .top-item-list .top-item-song {
        height: 20px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis; }
        .toplist .top-item .top-item-info .top-item-list .top-item-song .song-index {
          margin-right: 5px; }
        .toplist .top-item .top-item-info .top-item-list .top-item-song .singer {
          color: rgba(0, 0, 0, 0.5); }
    .toplist .top-item .top-item-info .more-arrow {
      position: absolute;
      right: 10px;
      top: 50%;
      margin-top: -4px;
      color: #b2b2b2; }

.toplist-more {
  height: 40px;
  line-height: 40px;
  text-align: center; }
  .toplist-more a {
    display: inline-block;
    padding: 0 10px;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.6); }

.search-view {
  height: 100%;
  background: #fff; }
  .search-view .search-bar {
    display: flex;
    padding: 10px;
    background: #f4f4f4; }
    .search-view .search-bar .search-input {
      flex: 1;
      position: relative;
      border-radius: 3px;
      background: #fff;
      padding: 8px 12px 8px 35px; }
      .search-view .search-bar .search-input input {
        flex: 1;
        outline: 0;
        height: 20px;
        line-height: 20px;
        width: 100%;
        color: rgba(0, 0, 0, 0.3);
        border: none;
        display: block;
        -webkit-appearance: none;
        font-size: 14px; }
        .search-view .search-bar .search-input input::-webkit-input-placeholder {
          /* WebKit browsers*/
          color: #ccc; }
        .search-view .search-bar .search-input input:-moz-placeholder {
          /* Mozilla Firefox 4 to 18*/
          color: #ccc; }
        .search-view .search-bar .search-input input::-moz-placeholder {
          /* Mozilla Firefox 19+*/
          color: #ccc; }
        .search-view .search-bar .search-input input:-ms-input-placeholder {
          /* Internet Explorer 10+*/
          color: #ccc; }
      .search-view .search-bar .search-input .search-icon {
        position: absolute;
        top: 9px;
        left: 10px;
        width: 18px;
        height: 18px;
        z-index: 3;
        background-image: url("/images/search-icon.png");
        background-repeat: no-repeat;
        background-size: cover; }
      .search-view .search-bar .search-input .delete-icon {
        position: absolute;
        top: 9px;
        right: 12px;
        width: 18px;
        height: 18px;
        background: #b1b1b1;
        border-radius: 99px; }
        .search-view .search-bar .search-input .delete-icon::after {
          width: 2px;
          height: 10px;
          margin-left: -1px;
          margin-top: -5px; }
        .search-view .search-bar .search-input .delete-icon::before {
          width: 10px;
          height: 2px;
          margin-left: -5px;
          margin-top: -1px; }
        .search-view .search-bar .search-input .delete-icon::after, .search-view .search-bar .search-input .delete-icon::before {
          content: '';
          display: block;
          position: absolute;
          left: 50%;
          top: 50%;
          border-radius: 8px;
          background: #fff;
          -webkit-transform: rotate(45deg); }
    .search-view .search-bar .search-cancel {
      margin-left: 10px;
      line-height: 36px; }
  .search-view .search-hotkeys {
    padding: 15px 15px 10px 15px; }
    .search-view .search-hotkeys .hot-tit {
      color: rgba(0, 0, 0, 0.6);
      margin-bottom: 8px;
      font-size: 14px;
      font-weight: bold; }
    .search-view .search-hotkeys .result-tags {
      font-size: 0; }
      .search-view .search-hotkeys .result-tags .tag {
        display: inline-block;
        font-size: 14px;
        padding: 0 10px;
        height: 30px;
        line-height: 30px;
        color: #000;
        border: 1px solid rgba(0, 0, 0, 0.6);
        border-radius: 99px;
        margin-bottom: 10px;
        margin-right: 14px; }
      .search-view .search-hotkeys .result-tags .tag-hot {
        color: #fc4524;
        border-color: #fc4524; }
  .search-view .search-record li {
    border-top: 1px solid #ededed;
    padding: 0 15px;
    list-style: none; }
    .search-view .search-record li .record-main {
      position: relative;
      display: block;
      height: 44px;
      line-height: 44px; }
      .search-view .search-record li .record-main .icon-clock {
        position: absolute;
        left: 0;
        top: 12px;
        width: 20px;
        height: 20px;
        background-image: url("/images/search-clock.png");
        background-repeat: no-repeat;
        background-size: cover;
        text-indent: -999px; }
      .search-view .search-record li .record-main .record-content {
        position: absolute;
        left: 40px;
        right: 50px;
        display: block;
        height: 44px;
        line-height: 44px;
        color: #000;
        font-size: 14px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis; }
      .search-view .search-record li .record-main .icon-close {
        position: absolute;
        right: 0;
        top: 12px;
        width: 20px;
        height: 20px; }
        .search-view .search-record li .record-main .icon-close:before, .search-view .search-record li .record-main .icon-close:after {
          position: absolute;
          left: 0;
          top: 0;
          content: "";
          background: rgba(0, 0, 0, 0.6);
          -webkit-transform: rotate(45deg);
          transform: rotate(45deg); }
        .search-view .search-record li .record-main .icon-close:before {
          width: 17px;
          height: 1px;
          top: 8px; }
        .search-view .search-record li .record-main .icon-close:after {
          width: 1px;
          height: 17px;
          left: 8px; }
  .search-view .search-record .record-delete {
    text-align: center;
    font-size: 12px;
    height: 44px;
    line-height: 44px;
    color: #47c88a; }
  .search-view .search-results .song-item {
    display: block;
    position: relative;
    height: 55px;
    padding-left: 56px;
    overflow: hidden;
    background: #fff;
    border-bottom: 1px solid #ddd; }
    .search-view .search-results .song-item .icon-music {
      top: 18px;
      left: 18px;
      width: 22px;
      height: 20px;
      position: absolute;
      background-position: 0 0;
      background-size: 22px 30px;
      background-repeat: no-repeat;
      background-image: url("/images/search-music.png"); }
    .search-view .search-results .song-item .song-name {
      margin: 10px 0 2px;
      line-height: 18px;
      font-size: 16px;
      font-weight: normal;
      color: #000; }
    .search-view .search-results .song-item .song-artist {
      color: #808080;
      font-size: 12px; }
  .search-view .search-results .singer-intro .avatar {
    display: block;
    width: 100%;
    position: absolute;
    top: 8px;
    left: 8px;
    width: 40px;
    height: 40px;
    border-radius: 99px; }
  .search-view .search-loading {
    height: 55px;
    text-align: center;
    position: relative;
    display: none;
    align-items: center;
    justify-content: center; }
    .search-view .search-loading.show {
      display: flex; }
    .search-view .search-loading .loading-icon {
      top: -2px;
      width: 20px;
      height: 20px;
      position: relative;
      display: inline-block;
      vertical-align: middle;
      background-size: 20px 20px;
      background-image: url("/images/icon_loading.png");
      animation: loading 1s infinite; }
    .search-view .search-loading .loading-text {
      margin-left: 5px; }
    .search-view .search-loading .loading-done, .search-view .search-loading .loading-text {
      color: #808080;
      font-size: 12px; }

@keyframes loading {
  from {
    transform: rotate(0deg); }
  8.32% {
    transform: rotate(0deg); }
  8.33% {
    transform: rotate(30deg); }
  16.65% {
    transform: rotate(30deg); }
  16.66% {
    transform: rotate(60deg); }
  24.99% {
    transform: rotate(60deg); }
  25% {
    transform: rotate(90deg); }
  33.32% {
    transform: rotate(90deg); }
  33.33% {
    transform: rotate(120deg); }
  41.65% {
    transform: rotate(120deg); }
  41.66% {
    transform: rotate(150deg); }
  49.99% {
    transform: rotate(150deg); }
  50% {
    transform: rotate(180deg); }
  58.32% {
    transform: rotate(180deg); }
  58.33% {
    transform: rotate(210deg); }
  66.65% {
    transform: rotate(210deg); }
  66.66% {
    transform: rotate(240deg); }
  74.99% {
    transform: rotate(240deg); }
  75% {
    transform: rotate(270deg); }
  83.32% {
    transform: rotate(270deg); }
  83.33% {
    transform: rotate(300deg); }
  91.65% {
    transform: rotate(300deg); }
  91.66% {
    transform: rotate(330deg); }
  99.99% {
    transform: rotate(330deg); } }

.player {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9;
  position: fixed;
  transition: 0.3s;
  overflow: hidden;
  opacity: 0;
  transform: translateY(-100%); }
  .player.show {
    opacity: 1;
    transform: translateY(0); }
  .player .player-container {
    z-index: 9;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    background: rgba(0, 0, 0, 0.6); }
  .player .player-background {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    background-size: cover;
    background-position: bottom center;
    filter: blur(15px);
    transform: scale(1.15); }
  .player .player-header {
    display: flex;
    padding: 15px;
    align-items: center;
    background: rgba(0, 0, 0, 0.1); }
    .player .player-header .album-cover {
      width: 80px;
      height: 80px;
      display: block;
      margin-right: 15px; }
    .player .player-header .song-info {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      max-width: calc(100% - 150px);
      color: #fff; }
      .player .player-header .song-info .song-name {
        height: 30px;
        font-size: 18px;
        font-weight: normal; }
      .player .player-header .song-info .song-artist {
        height: 21px;
        font-size: 14px; }
    .player .player-header .icon-action {
      width: 44px;
      height: 44px;
      border: solid 1px #fff;
      border-radius: 50%;
      background: rgba(0, 0, 0, 0.1);
      opacity: .6;
      margin-right: 10px;
      background-image: url(https://upload-images.jianshu.io/upload_images/6426975-eaea608e9f53fd85.png?imageMogr2/auto-orient/strip%7CimageView2/2/w/80);
      background-repeat: no-repeat;
      background-size: 40px 380px; }
    .player .player-header .icon-play {
      background-position: 12px -155px; }
    .player .player-header .icon-pause {
      background-position: 13px -185px; }
  .player .player-lyrics {
    flex: 1;
    overflow: hidden;
    margin: 36px 0 60px 0;
    color: rgba(255, 255, 255, 0.6);
    max-height: calc(100% - 205px); }
    .player .player-lyrics .player-lyrics-lines {
      overflow: hidden;
      transition: .5s; }
      .player .player-lyrics .player-lyrics-lines .player-lyrics-line {
        height: 42px;
        line-height: 42px;
        overflow: hidden;
        padding: 0 15px;
        text-overflow: ellipsis;
        white-space: nowrap;
        font-size: 16px;
        color: rgba(255, 255, 255, 0.6);
        text-align: center; }
      .player .player-lyrics .player-lyrics-lines .active {
        color: #31c27c; }
  .player .player-footer {
    position: relative; }
    .player .player-footer .icon-list {
      width: 40px;
      height: 40px;
      right: 13px;
      top: -40px;
      position: absolute;
      background-image: url(https://upload-images.jianshu.io/upload_images/6426975-eaea608e9f53fd85.png?imageMogr2/auto-orient/strip%7CimageView2/2/w/80);
      background-repeat: no-repeat;
      background-size: 40px 380px;
      background-position: 8px -250px; }
    .player .player-footer .progress {
      display: flex;
      align-items: center; }
      .player .player-footer .progress .progress-time {
        top: 0;
        z-index: 1;
        width: 55px;
        font-size: 12px;
        color: #808080;
        line-height: 40px;
        text-align: center;
        letter-spacing: 1px; }
      .player .player-footer .progress .progress-bar {
        flex: 1;
        overflow: hidden;
        background-color: rgba(255, 255, 255, 0.2); }
        .player .player-footer .progress .progress-bar .progress-bar-progress {
          width: 100%;
          height: 2px;
          transform: translateX(-100%);
          background: #31c27c;
          transform: translate(-90.7056%); }
    .player .player-footer .actions {
      height: 65px;
      margin-top: 10px; }
      .player .player-footer .actions .btn-download {
        position: relative;
        display: block;
        height: 49px;
        line-height: 49px;
        margin: 0 50px;
        overflow: hidden;
        white-space: nowrap;
        font-size: 20px;
        color: #fff;
        border-radius: 999px;
        background-color: #31c27c;
        text-align: center;
        background-image: url(https://upload-images.jianshu.io/upload_images/6426975-eaea608e9f53fd85.png?imageMogr2/auto-orient/strip%7CimageView2/2/w/80);
        background-repeat: no-repeat;
        background-size: 43px 380px;
        background-position: 6px -321px; }
  .player .player-background {
    background-image: url(https://y.gtimg.cn/music/photo_new/T002R150x150M000000QgFcm0v8WaF.jpg); }

html {
  height: 100%; }

body {
  height: 100%;
  background: #f4f4f4; }
