@charset "UTF-8";
/*放置变量*/
/*重置样式*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

ul, li, a {
  list-style: none;
  text-decoration: none; }

.hide {
  display: none; }

#header {
  height: 44px;
  background: #31c27c;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  #header h1 {
    display: none; }
  #header #logo {
    width: 90px;
    height: 25px;
    margin-left: 10px; }
  #header #btn-download {
    display: inline-block;
    height: 28px;
    margin-right: 10px;
    padding: 0 12px;
    line-height: 28px;
    border-radius: 99px;
    background: #149c5a;
    font-size: 14px;
    color: #fff; }

.topbar .tabs-list {
  display: flex; }
  .topbar .tabs-list .tabs-item {
    flex: 1;
    text-align: center;
    padding: 10px; }
    .topbar .tabs-list .tabs-item a {
      color: rgba(0, 0, 0, 0.6); }
    .topbar .tabs-list .tabs-item.active {
      border-bottom: 2px solid #31c27c; }
      .topbar .tabs-list .tabs-item.active a {
        color: #31c27c; }

.qq-slider {
  width: 100%;
  overflow: hidden; }
  .qq-slider .slider-wrap {
    display: flex; }
  .qq-slider .slider-items {
    width: 100%; }
    .qq-slider .slider-items > a {
      display: block; }
      .qq-slider .slider-items > a img {
        width: 100%;
        display: block; }

body {
  background: #f4f4f4; }
