.search-view {
  height: 100%;
  background: #fff; }
  .search-view .search-bar {
    display: flex;
    padding: 10px;
    background: #f4f4f4; }
    .search-view .search-bar .search-input {
      flex: 1;
      position: relative;
      border-radius: 3px;
      background: #fff;
      padding: 8px 12px 8px 35px; }
      .search-view .search-bar .search-input input {
        flex: 1;
        outline: 0;
        height: 20px;
        line-height: 20px;
        width: 100%;
        color: rgba(0, 0, 0, 0.3);
        border: none;
        display: block;
        -webkit-appearance: none;
        font-size: 14px; }
        .search-view .search-bar .search-input input::-webkit-input-placeholder {
          /* WebKit browsers*/
          color: #ccc; }
        .search-view .search-bar .search-input input:-moz-placeholder {
          /* Mozilla Firefox 4 to 18*/
          color: #ccc; }
        .search-view .search-bar .search-input input::-moz-placeholder {
          /* Mozilla Firefox 19+*/
          color: #ccc; }
        .search-view .search-bar .search-input input:-ms-input-placeholder {
          /* Internet Explorer 10+*/
          color: #ccc; }
      .search-view .search-bar .search-input .search-icon {
        position: absolute;
        top: 9px;
        left: 10px;
        width: 18px;
        height: 18px;
        z-index: 3;
        background-image: url("/images/search-icon.png");
        background-repeat: no-repeat;
        background-size: cover; }
      .search-view .search-bar .search-input .delete-icon {
        position: absolute;
        top: 9px;
        right: 12px;
        width: 18px;
        height: 18px;
        background: #b1b1b1;
        border-radius: 99px; }
        .search-view .search-bar .search-input .delete-icon::after {
          width: 2px;
          height: 10px;
          margin-left: -1px;
          margin-top: -5px; }
        .search-view .search-bar .search-input .delete-icon::before {
          width: 10px;
          height: 2px;
          margin-left: -5px;
          margin-top: -1px; }
        .search-view .search-bar .search-input .delete-icon::after, .search-view .search-bar .search-input .delete-icon::before {
          content: '';
          display: block;
          position: absolute;
          left: 50%;
          top: 50%;
          border-radius: 8px;
          background: #fff;
          -webkit-transform: rotate(45deg); }
    .search-view .search-bar .search-cancel {
      margin-left: 10px;
      line-height: 36px; }
  .search-view .search-hotkeys {
    padding: 15px 15px 10px 15px; }
    .search-view .search-hotkeys .hot-tit {
      color: rgba(0, 0, 0, 0.6);
      margin-bottom: 8px;
      font-size: 14px;
      font-weight: bold; }
    .search-view .search-hotkeys .result-tags {
      font-size: 0; }
      .search-view .search-hotkeys .result-tags .tag {
        display: inline-block;
        font-size: 14px;
        padding: 0 10px;
        height: 30px;
        line-height: 30px;
        color: #000;
        border: 1px solid rgba(0, 0, 0, 0.6);
        border-radius: 99px;
        margin-bottom: 10px;
        margin-right: 14px; }
      .search-view .search-hotkeys .result-tags .tag-hot {
        color: #fc4524;
        border-color: #fc4524; }
  .search-view .search-record li {
    border-top: 1px solid #ededed;
    padding: 0 15px;
    list-style: none; }
    .search-view .search-record li .record-main {
      position: relative;
      display: block;
      height: 44px;
      line-height: 44px; }
      .search-view .search-record li .record-main .icon-clock {
        position: absolute;
        left: 0;
        top: 12px;
        width: 20px;
        height: 20px;
        background-image: url("/images/search-clock.png");
        background-repeat: no-repeat;
        background-size: cover;
        text-indent: -999px; }
      .search-view .search-record li .record-main .record-content {
        position: absolute;
        left: 40px;
        right: 50px;
        display: block;
        height: 44px;
        line-height: 44px;
        color: #000;
        font-size: 14px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis; }
      .search-view .search-record li .record-main .icon-close {
        position: absolute;
        right: 0;
        top: 12px;
        width: 20px;
        height: 20px; }
        .search-view .search-record li .record-main .icon-close:before, .search-view .search-record li .record-main .icon-close:after {
          position: absolute;
          left: 0;
          top: 0;
          content: "";
          background: rgba(0, 0, 0, 0.6);
          -webkit-transform: rotate(45deg);
          transform: rotate(45deg); }
        .search-view .search-record li .record-main .icon-close:before {
          width: 17px;
          height: 1px;
          top: 8px; }
        .search-view .search-record li .record-main .icon-close:after {
          width: 1px;
          height: 17px;
          left: 8px; }
  .search-view .search-record .record-delete {
    text-align: center;
    font-size: 12px;
    height: 44px;
    line-height: 44px;
    color: #47c88a; }
  .search-view .search-results .song-item {
    display: block;
    position: relative;
    height: 55px;
    padding-left: 56px;
    overflow: hidden;
    background: #fff;
    border-bottom: 1px solid #ddd; }
    .search-view .search-results .song-item .icon-music {
      top: 18px;
      left: 18px;
      width: 22px;
      height: 20px;
      position: absolute;
      background-position: 0 0;
      background-size: 22px 30px;
      background-repeat: no-repeat;
      background-image: url("/images/search-music.png"); }
    .search-view .search-results .song-item .song-name {
      margin: 10px 0 2px;
      line-height: 18px;
      font-size: 16px;
      font-weight: normal;
      color: #000; }
    .search-view .search-results .song-item .song-artist {
      color: #808080;
      font-size: 12px; }
  .search-view .search-loading {
    height: 55px;
    text-align: center;
    position: relative;
    display: none;
    align-items: center;
    justify-content: center; }
    .search-view .search-loading .loading-icon {
      top: -2px;
      width: 20px;
      height: 20px;
      position: relative;
      display: inline-block;
      vertical-align: middle;
      background-size: 20px 20px;
      background-image: url("/images/icon_loading.png");
      animation: loading 1s infinite; }
    .search-view .search-loading .loading-text {
      margin-left: 5px; }
    .search-view .search-loading .loading-done, .search-view .search-loading .loading-text {
      color: #808080;
      font-size: 12px; }
    .search-view .search-loading .show {
      display: flex; }

@keyframes loading {
  from {
    transform: rotate(0deg); }
  8.32% {
    transform: rotate(0deg); }
  8.33% {
    transform: rotate(30deg); }
  16.65% {
    transform: rotate(30deg); }
  16.66% {
    transform: rotate(60deg); }
  24.99% {
    transform: rotate(60deg); }
  25% {
    transform: rotate(90deg); }
  33.32% {
    transform: rotate(90deg); }
  33.33% {
    transform: rotate(120deg); }
  41.65% {
    transform: rotate(120deg); }
  41.66% {
    transform: rotate(150deg); }
  49.99% {
    transform: rotate(150deg); }
  50% {
    transform: rotate(180deg); }
  58.32% {
    transform: rotate(180deg); }
  58.33% {
    transform: rotate(210deg); }
  66.65% {
    transform: rotate(210deg); }
  66.66% {
    transform: rotate(240deg); }
  74.99% {
    transform: rotate(240deg); }
  75% {
    transform: rotate(270deg); }
  83.32% {
    transform: rotate(270deg); }
  83.33% {
    transform: rotate(300deg); }
  91.65% {
    transform: rotate(300deg); }
  91.66% {
    transform: rotate(330deg); }
  99.99% {
    transform: rotate(330deg); } }
