#header{
    height: $header-height;
    background: $header-background;
    display: flex;
    justify-content: space-between;
    align-items: center;
    h1{
        display: none;
    }
    #logo{
        width: $header-logo-width;
        height: $header-logo-height;
        margin-left: $header-logo-margin;
    }
    #btn-download{
        display: inline-block;
        height: $header-btn-height;
        margin-right: $header-logo-margin;
        padding: $header-btn-padding;
        line-height: $header-btn-height;
        border-radius: $header-btn-radius;
        background: $header-btn-background;
        font-size: $header-btn-font;
        color: $color-fff;
    }     
} 