.topbar{
    background: $background-fff;
    .tabs-list{
        display: flex;
        .tabs-item{
            flex: 1;
            text-align: center;
            padding: $topbar-padding;
            a{
                color: $topbar-color;
            }
            &.active{
                border-bottom: $topbar-active-border;
                a{
                    color: $topbar-active-color;
                }
            }
        }
    }
}
.tab-contents{
    height: 100%;
}