$header-height: 44px;
$header-background: #31c27c;
$header-logo-width: 90px;
$header-logo-height: 25px;
$header-logo-margin: 10px;
$header-btn-height: 28px;
$header-btn-padding: 0 12px;
$header-btn-radius: 99px;
$header-btn-background: #149c5a;
$header-btn-font: 14px;
$header-btn-color: #fff;