@import "var";
@import "reset";
@import "helpers";
@import "header";
@import "topbar";
@import "slider";
@import "rec";
@import "rank";
@import "search.scss";

html{
    height: 100%;
    //width: 100%;
}
body{
    height: 100%;
    background: $body-background;
}

